@charset "UTF-8";
ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	        overflow: hidden;
	                text-align: center;
	                  display: flex;
  justify-content: center;
	                
	        
  }

li{
	color: black;
float:left;
border-right: 1px solid #bbb;
width: 100%;
    

}
li:last-child {
    border-right: none;
}
a{
	
	font-weight: 700;
	color:#333;
}

li a{
	display:block;
    padding:12px;
        text-decoration: none;
        
    
}

li a:hover {
	color:#333;
    background-color:  #f2f2f2;
    text-decoration: none;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0.5em 0;
    padding: 0;
}

h1{
	    display: flex;
	
	  justify-content: center;
	font-style: italic;
}

.div-input-form{
	padding: 30px 20px;
}

.input-form{
	font-weight: 700;
    color: #333;
		padding: 35px 110px 20px 100px;
	    width: 85%;
	    margin: 0 auto ;
	        border: 1px solid #CCC;
    border-radius: 1em;
	    background-color: #f5f5f5;
	    display: flex;
    flex-wrap: wrap;
   justify-content: space-between;
}
label {
		display: inline-block; 
		width: 140px;
  		text-align: right;
}
input{
		width:290px;
	/*width: 50%;*/
	padding:5px ;
	
}
label, input{
 margin:3px;
 margin-top:1px;
}
 
#saveButton{
	width:80px;	
	
}
.class-saveButton{
		width:50%;	
			padding:0 200px;
	
}
.form-row{	
	width:100%	
}

